<mat-card class="example-card mat-elevation-z4">
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step >
      <form>
        <ng-template matStepLabel>Informações do Cupom</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Código</mat-label>
          <input
            matInput
            [(ngModel)]="cupom.codigo"
            name="codigo"
            placeholder="Código do Cupom"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input
            matInput
            [(ngModel)]="cupom.valor"
            name="valor"
            placeholder="Valor R$"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious mat-flat-button color="" (click)="cancel()">Cancelar</button>
          <button mat-button mat-flat-button color="primary" (click)="create()">Cadastrar</button>
      </div>
      </form>
    </mat-step>
  </mat-stepper>
</mat-card>