<form>
    <h1>DELETANDO ENDEREÇO</h1>
    <mat-form-field class="form">
        <mat-label>Logradouro</mat-label>
        <input disabled [(ngModel)]="endereco.rua" matInput  type="text" name="rua">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Bairro</mat-label>
        <input disabled [(ngModel)]="endereco.bairro" matInput  type="text" name="bairro">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Número</mat-label>
        <input disabled [(ngModel)]="endereco.numero" matInput  type="number" name="numero">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Cep</mat-label>
        <input disabled [(ngModel)]="endereco.cep" matInput  type="text" name="cep">
    </mat-form-field>
    <div class="button">
        <button (click)="delete()" class="mat-elevation-z8" mat-flat-button color="warn">DELETAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-flat-button color="primary">CANCELAR</button>
    </div>
</form>