<div class="content">
    <div class="title">
        <h1>Funcionários</h1>
    </div>
    <button class="mat-elevation-z8" (click)="navegarParaFuncionarioCreate()" mat-flat-button color="primary" >Cadastrar Funcionario</button>

    <div class="mat-elevation-z8 content-table">
        <table class="table" mat-table [dataSource]="funcionarios" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
          
            <!-- nome Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>

             <!-- nome Column -->
             <!-- <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
                <td mat-cell *matCellDef="let row"> {{row.dataNascimento}} </td>
              </ng-container> -->
              
                <!-- nome Column -->
            <ng-container matColumnDef="cpf_cnpj">
              <th mat-header-cell *matHeaderCellDef> CNPJ/CPF </th>
              <td mat-cell *matCellDef="let row"> {{row.cpf_cnpj}} </td>
            </ng-container>
            <ng-container matColumnDef="rg">
              <th mat-header-cell *matHeaderCellDef> Rg </th>
              <td mat-cell *matCellDef="let row"> {{row.rg}} </td>
            </ng-container>
            <ng-container matColumnDef="funcionarioTipo">
              <th mat-header-cell *matHeaderCellDef> Tipo Funcionario </th>
              <td mat-cell *matCellDef="let row"> {{row.funcionarioTipo}}</td>
            </ng-container>
              <!-- usuarios Column -->
            <ng-container matColumnDef="usuarios">
              <th mat-header-cell *matHeaderCellDef> Dados </th>
              <td mat-cell *matCellDef="let row"> {{row.usuarios}}
                <a class="usuarios" routerLink="view/id/{{row.id}}">
                  <i class="material-icons">visibility</i>   
                </a>
              </td>
            </ng-container>

            <!-- Ação Column -->
            <ng-container matColumnDef="acoes">
                <th class="math-reader" mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let row">
                  <a class="edit" href="">
                    <i class="material-icons">edit</i>
                  </a>
                  <a class="delete" href="/funcionarios/delete/id/{{ row.id }}">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>


