.content{
  width: 90%;
  margin: 1.4rem auto auto auto;

}

.title{
  text-align: center;
  margin-bottom: 2rem;
}

.title h1{
  font-size: 1.5rem;
  font-weight: 500;
  
}

button{
  margin-bottom: .8rem;
}

.usuarios{
  color:rgb(8, 112, 204);
  margin-left: .6rem;
}

.table{
  width: 100%;
}

.delete{
  color:rgb(194, 32, 32);
  margin-left: .5rem;
}

.math-reader{
  width: 5rem;
}

.edit{
  color:rgb(208, 151, 6)
}